.listType1 {
  border: 1px solid black;
}
.listType2 {
  font-weight: bold;
}
.listType3 {
  list-style: square;
}
.listType4 {
  list-style: none;
}

table {
  border: 1px solid gray;
  text-align: center;
}
th,
td {
  border: 1px solid gray;
  width: 100px;
}

.time,
.day {
  background-color: rgb(108, 108, 129);
  color: rgb(16, 17, 80);
}

.work {
  background-color: rgb(255, 234, 238);
  color: rgb(112, 93, 93);
}

.lunch,
.dinner {
  background-color: rgb(147, 167, 107);
  color: rgb(0, 49, 0);
}

.study {
  background-color: rgb(187, 175, 187);
  color: rgb(53, 0, 53);
}
