.cssBoxTest1 {
  width: 300px;
  height: 300px;
  padding: 20px 40px;
  background-color: blue;
  color: white;
  text-align: center;
}
.cssBoxTest2 {
  box-sizing: border-box;
  width: 300px;
  height: 300px;
  padding: 20px 40px;
  background-color: skyblue;
  color: blue;
  text-align: center;
}
.BlockTest1 {
  box-sizing: border-box;
  background-color: pink;
}
.BlockTest2 {
  box-sizing: border-box;
  background-color: gray;
  width: 300px;
}
.BlockTest3 {
  box-sizing: border-box;
  background-color: gray;
  width: 300px;
  margin: auto;
}
.BoxInlineTest span {
  background-color: coral;
  padding-left: 30px;
  padding-right: 50px;
  padding-top: 10px;
  margin: 30px;
  width: 30px;
}
.BoxInlineBlockTest span {
  display: inline-block;
  background-color: rgb(98, 98, 161);
  padding-left: 30px;
  padding-right: 50px;
  padding-top: 10px;
  margin: 30px;
  width: 30px;
}
