* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
.card {
  margin: 10px 10px;
  border: 1px solid gray;
  width: 600px;
  height: 100px;
}
.icon {
  margin: 10px;
  border: 1px solid rgb(231, 231, 231);
  border-radius: 50%;
  float: left;
}
.content {
  margin-top: 10px;
  float: left;
}
.total::after {
  content: "";
  display: block;
  clear: left;
}
.part {
  color: gray;
  font-weight: bold;
}
.answer {
  margin-top: 10px;
}
