div {
  width: 200px;
  height: 200px;
  border: 2px solid black;
}

@media screen and (max-width: 600px) {
  /* max-width 최대 넓이 */
  /* 가로가 600px 보다 작으면 tomato색깔 적용 */

  div {
    background-color: tomato;
  }
}

@media screen and (min-width: 800px) {
  /* min-widt 최소 넓이 */
  /* 가로가 800px 보다 크면 teal색깔 적용 */

  div {
    background-color: teal;
  }
}

@media screen and (min-width: 700px) and (max-width: 799px) {
  /* min-widt 최소 넓이 */
  /* 가로가 800px 보다 크면 teal색깔 적용 */

  div {
    background-color: pink;
  }
}

@media screen and (orientation: landscape) {
  /* min-widt 최소 넓이 */
  /* 가로가 800px 보다 크면 teal색깔 적용 */

  div {
    background-color: orange;
  }
}
