li {
  padding-bottom: 10px;
}

.fontweightThin {
  font-weight: 100;
}

.fontweightlight {
  font-weight: 300;
}

.fontweightregular {
  font-weight: 400;
}

.fontweightmedium {
  font-weight: 500;
}

.fontweightblod {
  font-weight: 700;
}

.fontweightblack {
  font-weight: 900;
}

.fontstyleItalic {
  font-style: italic;
}

.fontstyleOblique {
  font-style: oblique;
}

.hex {
  color: #ff9900;
}
.rgb {
  color: rgb(108, 108, 199);
}
.rgba {
  color: rgba(124, 45, 134, 0.411);
}

.textdecoUnderline {
  text-decoration: underline;
  padding: 10px 0px;
}

.textdecoLine-through {
  text-decoration: line-through;
  padding: 10px 0px;
}

.textdecoOverline {
  text-decoration: overline;
  padding: 10px 0px;
}

.webfontGoogle {
  font-family: "Jua", sans-serif;
}
