* {
  box-sizing: border-box;
  margin: 0px;
}

.hover input {
  background-color: white;
}

.hover input:hover {
  background-color: blue;
}

.active input {
  background-color: white;
}

.active input:active {
  background-color: pink;
}

.focus input {
  background-color: white;
}

.focus input:focus {
  background-color: orangered;
}

/* =======transitionTest======= */

.transitionTest button,
.transitionTest input {
  border: none;
  /* background-color: #fff; */
  width: 80px;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  display: block;
}
.transitionTest span {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin: 10px;
  border: 1px dashed gray;
}

.transitionTest .button1 {
  transition: all 3s;
}

.transitionTest .button1:hover {
  border-bottom: 2px solid blue;
  transform: translateX(50px);
}

.transitionTest .button2 {
  transition: all 3s;
}

.transitionTest .button2:hover {
  border-bottom: 5px solid blue;
}

/* 가상요소 */
.transitionTest .button3 {
  position: relative;
  /* transition: all 5s; */
}

.transitionTest .button3::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 0;
  height: 2px;
  background-color: blue;
  transition: all 5s;
}

.transitionTest .button3:hover::after {
  width: 100%;
}

/* =======animationTest======= */

.animationTest .loadingbox {
  width: 300px;
  height: 200px;
  border: 1px solid #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loadingbox h3 {
  color: rgb(192, 192, 192);
  margin-bottom: 10px;

  animation-name: loadingText;
  animation-duration: 3s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.animationTest .loadingBar {
  width: 200px;
  height: 20px;
  background-color: rgb(192, 192, 192);

  border-radius: 50px;
  position: relative;
  overflow: hidden;
}

.loadingGauge::after {
  position: absolute;
  content: "";
  top: 0px;
  left: 0px;
  border-radius: 50px;
  width: 0;
  height: 20px;
  background-color: rgb(2, 202, 2);

  animation-name: loading;
  animation-duration: 3s;
  /* animation-direction: alternate; */
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
}

@keyframes loadingText {
  from {
    opacity: 1;
    /* 투명도 : 1=불투명 0=투명 */
  }
  to {
    opacity: 0;
  }
}

@keyframes loading {
  0% {
    width: 0;
    opacity: 1;
  }
  80% {
    width: 100%;
    opacity: 1;
  }
  100% {
    width: 100%;
    opacity: 0;
  }
}
